
.h1-my-name{
    margin: 0;
    font-size: 60px;
    line-height: 75px;
    font-weight: 700;
    text-align: center;
}
@media (min-width:960px){
    .h1-my-name{
        margin: 0;
        font-size: 96px;
        line-height: 96px;
        font-weight: 700;
        text-align: center;
    } 
}
.section-1-welcome{
    margin-top: 70px;
    padding: 10px;
}
.section-1-welcome_name-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 50px;
}

@media (min-width:960px){
    .section-1-welcome_name-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }    
}

.welcome-img{
    width: 219px;
    height: 211px;
    border-radius: 10px;
}
@media (min-width:960px){
    .welcome-img{
        width: 353px;
        height: 340px;
        border-radius: 10px;
    }   
}