*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #13171c;
    font-family: 'Poppins';
}
.section-1-welcome-work{
    border-top: solid .1px #131921;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 200px;
}
@media (min-width:960px){
    .section-1-welcome-work{
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.h1-my-name{
    margin: 0;
    font-size: 60px;
    line-height: 75px;
    font-weight: 700;
    text-align: center;
}
@media (min-width:960px){
    .h1-my-name{
        margin: 0;
        font-size: 96px;
        line-height: 96px;
        font-weight: 700;
        text-align: center;
    } 
}
.section-1-welcome{
    margin-top: 70px;
    padding: 10px;
}
.section-1-welcome_name-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.welcome-img{
    width: 219px;
    height: 211px;
    border-radius: 10px;
    margin-top: 50px;
}
@media (min-width:960px){
    .welcome-img{
        width: 353px;
        height: 340px;
        border-radius: 10px;
    }   
}