
.section-3-services {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #151a1f;
    background-image: url('../componentCard/images/doodleitems.png')
}

.h1-card {
    color: white;
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
    margin-top: 82px;
    margin-bottom: 66px;
}

.card {
    font-family: 'Poppins';
    color: white;
    display: flex;
    flex-direction: column;
    width: 360px;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin-bottom: 48px;
}
@media (min-width:960px){
    .card-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 25px;       
    }
}

.p-card {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: start;
    margin-right: 22px;
    margin-left: 22px;
}

.h3-card {
    font-size: 33px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;
}

.img-card {
    width: 265px;
    height: 158px;
    margin-top: 40px;
}

.link {
    text-decoration: none;
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
}

.link>a {
    text-decoration: none;
    color: #77005793;
}