.section-2-presentation{
    background-color: #192130;
    display:flex;
    justify-content: center;
}
.section-2-presentation_about-me{
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 789px;
}
@media (min-width:960px){
    .section-2-presentation_about-me{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.about-me_h2-p{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 71px 45px 38px;
}

.soy-juan{
    margin: 0;
    font-weight: 700;
    font-size: 42px;
    line-height: 131%;
    color: #FFFFFF;
}
@media (min-width:960px){
    .soy-juan{
        font-size: 64px;
        line-height: 96px;
        color: #FFFFFF;
    }
}
.about-me_p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(238, 238, 238, 0.75);
}

.img{
    width: 295px;
    height: 241px;
    margin-left:45px;
    margin-right: 45px;

}
@media (min-width:960px){
    .img{
        border: solid green;
        width: 623px;
        height: 415px;
    }
    
}